*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.nav-6{
    background-color: black;
    padding:5px;
    border-bottom: 2px solid gray;
}
.navbar-2{
        background-color: black !important;
    padding: 18px;
        border-bottom: 2px solid gray;

}
.navbar-text{
      color: #ffffff !important;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 544px;

}
.navbar-nav{
    margin-left: 17rem;
    margin-top: -2rem;
}
.nav-link{
    color: #ffffff !important;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.img-logo{
             width: 160px;
    margin-left: 6rem;
    margin-top: 1rem;
  
}
.nav-item{
    margin-left: 11px;
    
}

.img-65{
         display: flex;
    margin-left: 73rem;
    gap: 5rem;
    margin-top: -2rem;
}
.img-66{
    width: 2rem;


}
.form-1{
    display: flex;
    border-radius: 22px;
    background: transparent;
    width: 95%;
}
.img-logo{
                    width: 132px;
        margin-left: 7rem;
        margin-top: 0rem;
}
.center-img{
    width: 100%;
}
.card-img-top{
    width: 100%
}
.card-title{
       width: 100%;
    height: 3rem;
    background-color: black;
    color: white;
    font-size: 22px;
    margin-left: 2px;
    font-weight: 700;

}
.heading{
          border: 3px solid gray;
    width: 31rem;
    margin-bottom: 3rem;
    MARGIN-TOP: 3rem;
}
.heading2{
          border: 3px solid gray;
    width: 33rem;
    margin-bottom: 3rem;
    MARGIN-TOP: -53px;
    margin-left: 48rem;
}
.text-2{
        font-weight: 700;
    font-family: sans-serif;
    font-size: 22px;
    color: black;
    margin-top: -63px;
    margin-left: 511px;
    position: absolute;
}

.list-logo{
        width: 2rem;
        margin-left: -31rem;
}
    .form-1{display: flex;
    border-radius: 43px;
    background: transparent;
    width: 100%;
    /* margin-left: 2rem; */}
    .heading3{
              border: 3px solid gray;
    width: 35rem;
    margin-bottom: 3rem;
    MARGIN-TOP: 23px;
    margin-left: 46rem;
    }
    .text-3{
         font-weight: 700;
    font-family: sans-serif;
    font-size: 22px;
    color: black;
    margin-top: -63px;
    margin-left: 559px;
    position: absolute;
    }
    .heading4{
           border: 3px solid gray;
    width: 34rem;
    margin-bottom: 3rem;
    MARGIN-TOP: -53px;
    margin-left: 0rem;
    }
    .card-img-top-1{
        width: 100%;
    }
    .card-title-2{
        color: gray;
        font-size: 15px;
        text-align: center;
    }
    .card-text-2{
        font-size:16px; 
        text-align: center;
    }
    .offer-txt{
        font-size: 22px;
        font-family: sans-serif;
        font-weight: 700;
        text-align: center;
    }
    .offer-banner-img{
        width: 100%;
    }
.discount{
    width: 100%;
}
.bottom-img{
    width: 100%;
}
.card-title-5{
    color: gray;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
}
.footer2 {
     background: black;
     color: white;
     padding: 60px 0 30px;
     font-weight: 700;
     font-size: 15px;
 }
 .card-text-5{
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
 }

 .payments {
     margin-left: 70%;
     width: 30%;
 }
 .name-txt{
font-size: 27px;
font-family: sans-serif;
font-weight: 700;
 }
 .dropdown{
        margin-left: 72rem;
    margin-top: -2rem;
 }
 .suggestion-text{
    font-family: sans-serif;
    font-size: 19px;
 }
@media(max-width:600px){
.navbar-text{
            font-size: 12px;
        margin-left: 58px;
}
.suggestion-text{
        font-family: sans-serif;
    font-size: 15px;
}
.card-text-5{
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
.card-title-5{
        color: gray;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    /* margin-top: 0px; */
}
.name-txt{
font-size: 20px;
font-family: sans-serif;
font-weight: 700;
 }
.payments{
        margin-left: 32%;
    width: 60%;
}
.offer-txt{
    font-size: 16px;
    text-align: center;
    font-weight: 600;

}
.heading4{
           border: 3px solid gray;
    width: 7rem;
    margin-bottom: 3rem;
    MARGIN-TOP: -53px;
    margin-left: 0rem;
}
.heading{
             border: 2px solid gray;
    width: 6rem;
    margin-bottom: 3rem;
    MARGIN-TOP: 3rem;
}
 .heading2{
                border: 2px solid gray;
        width: 5rem;
        margin-bottom: 3rem;
        MARGIN-TOP: -51px;
        margin-left: 19rem;
}
.dropdown{
        margin-left: 13rem;
    margin-top: -39px;
    width: -20px;
}
 .text-3{
             font-weight: 700;
        font-family: sans-serif;
        font-size: 17px;
        color: black;
        margin-top: -61px;
        margin-left: 115px;
        position: absolute;
    }
 .heading3{
        border: 3px solid gray;
        width: 8rem;
        margin-bottom: 3rem;
        MARGIN-TOP: 23px;
        margin-left: 16rem;
    }
.text-2{
           font-weight: 700;
    font-family: sans-serif;
    font-size: 17px;
    color: black;
    margin-top: -59px;
    margin-left: 100px;
    position: absolute;
}

.navbar-1{
    padding: 3px;
}

.img-logo{
                  width: 10rem;
        margin-left: 5rem;
}
.navbar-nav{
        margin-left: -1rem;
    margin-top: 1rem;
}
.card-title{
        width: 100%;
    height: 3rem;
    background-color: black;
    color: white;
    font-size: 13px;
    margin-left: 2px;
    font-weight: 700;
}
.navbar-2{
        background-color: black !important;
    padding: 8px;
    border-bottom: 2px solid gray;
}
.list-logo{
                width: 2rem;
    margin-left: -3rem;
}
.img-66{
    width: 2rem;


}
.img-65{
       display: flex;
    margin-left: 18rem;
    gap: 2rem;
    margin-top: -2rem;}
.list-logo{
        width: 2rem;
        margin-left: -31rem;
}
}